// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.header-offset
  padding-top 85px

.logo
  &-header
    width 150px
    transAll(atime)
    &.hide
      width 60px


.hide-lg-scrl
  &.hide
    display none !important


.slide
  height 500px


// .img-a
//   position absolute
//   top 0px
//   left 15px
//   max-width none
//   height 100%
//   width auto


.br-lg-lgray
  border-right 1px solid colorLGray