// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body, html
  height 100%

.title
  font-size 2em

.nav
  padding 0
  display flex
  flex-wrap wrap
  border none
  &-collapse
    display block !important
    height auto !important


.slide
  height 400px

.calc
  &-btn
    &-i
      font-size 3em
    // &-txt
    //   font-size 1.1em

.h-md-full
  display flex
  position relative
  min-height 100%
  flex-direction column
  justify-content between
  // > section
  //   flex-basis 0
  //   flex-grow 1
  //   max-width 100%
  //   position relative
  //   width 100%
  //   min-height 1px
  //   padding-right 15px
  //   padding-left 15px
